bin
bin/*
*.dpu
*.so
build/
build/*
polymerpim_test
vectordpu_test
.vscode/
.vscode/*
*.o
*.log
*.txt
*.config
*.old
install
install/**
opt
opt/**
kernelids.h
opinfo.h
kernels.h
config.h
.envrc
opcodes.h
*.perfetto-trace
__pycache__/
*.pyc

# Julia
julia/Manifest.toml
julia/lib/wrapper/PolymerPIM/*

# Benchmarks
benchmarks/**/Param.generated.h
benchmarks/**/Param.generated.jl
benchmarks/**/bin/
benchmarks/**/data/
benchmarks/**/generate_ref
benchmarks/**/run
benchmarks/results/
