bin
bin/*
*.dpu
*.so
.localenv
build/
build/*
vectordpu_test
.vscode/
.vscode/*
*.o
*.log
*.txt
*.config
*.old
install/*
install
kernelids.h
opinfo.h
kernels.h
config.h
.envrc
opcodes.h
*.perfetto-trace

# Julia
julia/Manifest.toml
julia/src/opcodes.jl
